*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #e4f3ff;
    
} 
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
    
}
.container .color{
    background:#fff ;
    list-style: none;
    cursor: pointer;
    margin:13px;
    border-radius:5px;
    padding: 7px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(52,87,220,0.5);
  transition: transform 0.3s ease;
  text-transform: uppercase;
}
.container .color:active{
    transform: scale(0.95);
}
.color .rect-box{
    width:185px;
    height:188px;
    background:#8A6CFF ;
    border-radius: 5px;
}
.color:hover .rect-box{
    filter: brightness(106%);
}
.color .hex-value{
    font-size: 1.15rem;
    font-weight: 500;
    display:block;
    margin:12px 0 8px;
    color:#444
}
.refresh-btn{
    font-size: 1.1rem;
    font-weight: 500;
    background-color:#8A6CFF ;
    color:#fff;
    padding:12px 8px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #fff;
    position:fixed;
    left:45%;
    bottom:40px;
    transform: translateX(-50%);
    box-shadow:0 10px 20px rgba(52,87,220,0.2) ;
}